body {
  padding-top: 70px;
}

#about-text {

}


hr {
	border-top: 4px solid #000;
	text-align: center;
}

hr:after {
  display: inline-block;
  position: relative;
	top: -15px;
	padding: 0 10px;
	background: #fff;
	color: #000;
	font-size: 18px;
}

hr.about-title:after {

	content: "\f2c3";
  font-family: FontAwesome;
}

hr.portfolio-title:after {
  
	content: "\f091";
  font-family: FontAwesome;
}

hr.contact-title:after {
  
	content: "\f003";
  font-family: FontAwesome;
}