body {
  background-color: #0009B2;
  margin: 0;
  font-family: "Roboto Slab", serif;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#quote-container {
  margin: 0 auto;
  max-width: 60vw;
  background-color: #747AFF;
}

#author {
  font-family: "Roboto", sans-serif;
}