body {
  background: #f2f2f2;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666666;
}

#cards {
  display: flex;
  flex-wrap: wrap;
}

#cards > div {
  flex: 0 1 10%;
  margin: 1em;
}

#status {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#status .material-icons {
  font-size: 10em;
}

.footer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8em;
}

.load-more {
  position: relative;
  display: block;
  min-width: 270px;
  max-width: 400px;
  height: 470px;
  margin-bottom: 20px;
}

.load-more p {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

a.button {
  display: block;
  position: relative;
  width: 120px;
  padding: 0;
  margin: 0 auto;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
  text-decoration: none;
  background: #666666;
}

a.button:visited {
  text-decoration: none;
}

/* FADE */
.button:hover {
  background: #414141;
}

#search_container {
  position: relative;
  width: 20%;
  height: 50px;
  margin: 0 auto;

  transition: all 0.3s ease;
}

#search_container > form > input {
  margin: 0;
  width: 90%;
  padding: 5px 10px;
  border: solid 3px #ebebeb;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: inset 0 0px 0px #ddded8;
  position: absolute;

  transition: all 0.3s ease;
}

#search_container > form > button {
  margin-left: -2%;
  width: 10%;
  padding: 6px;
  border: none;
  position: absolute;
  right: 15px;
  top: 0px;
  background: #ebebeb;
  cursor: pointer;
  opacity: 0;
  z-index: -1;

  transition: all 0.5s ease;
}

#search_container > form > input:focus {
  outline: none;
  border-color: #666666;
  box-shadow: inset 0 5px 10px #ddded8;
}

#search_container > form > input:focus + button {
  z-index: 99;
  background: #666666;
  color: white;
  right: 15px;
  opacity: 1;
}

.container {
  margin: 0 auto;
}

.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #ffffff;
  min-width: 270px;
  max-width: 400px;
  height: 470px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.post-module:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.6;
}

.post-module .thumbnail {
  background: #fff;
  height: 400px;
  overflow: hidden;
}

.post-module .thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #ffffff;
  width: 100%;
  padding: 30px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}

.post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: #e74c3c;
  font-size: 20px;
  font-weight: 400;
}

.post-module .post-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}

.post-module .post-content .post-meta {
  margin: 30px 0 0;
  color: #999999;
}

.post-module .post-content .post-meta .read_more {
  margin: 0 16px 0 0;
}

.post-module .post-content .post-meta a {
  color: #999999;
  text-decoration: none;
}

.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

.container {
  margin: 0 auto;
}

.container:before,
.container:after {
  content: "";
}

.container .info {
  width: 300px;
  margin: 25px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}
